@{
    //****************** Xử lý Bảo mật và Phân quyền  **********
    var Nhan_vien = (XL_NGUOI_DUNG_NOI_BO)Session["Nhan_vien_Dang_nhap"];
    if (Nhan_vien == null)
    {
        Response.Write("Người dùng chưa Đăng nhập");
        Response.End();
    }
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
    var Cong_ty = Du_lieu.Cong_ty;
    var Chuoi_HTML_Nguoi_dung_Dang_nhap = Du_lieu.Tao_Chuoi_HTML_Nguoi_dung_Dang_nhap(Nhan_vien);

    Session["Chuoi_Tra_cuu"] = "";

    if (IsPost)
    {
        Session["Chuoi_Tra_cuu"] = Request["Th_Tra_cuu"];
    }

    var Chuoi_Tra_cuu = Session["Chuoi_Tra_cuu"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="DD_Chinh.css?v=@DateTime.Now.Ticks" type="text/css" />
</head>
<body>
    <div class="container-fluid">        
        <div class="row TIEU_DE justify-content-center">
            <div class="col-md-10 col-md-offset-1 content-section">
                <div class="row align-items-center">
                    <div class="col-md-4 col-sm-4 col-4 text-center hidden-sm-down LOGO">
                        <a href="#">
                            <img src="@Du_lieu.Dia_chi_Media/LOGO.png" />
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 text-center hidden-md-up LOGO">
                        <a href="#">
                            <img src="@Du_lieu.Dia_chi_Media/LOGO_MOBILE.png" style="width:70%" class="d-inline-block align-top" alt="">
                        </a>
                    </div>
                    <div class="TIM_KIEM col-md-8 col-sm-8 col-8">
                        <form id="HE_THONG" name="HE_THONG" action="MH_Chinh.cshtml" method="post">
                            <input type="text" id="Th_Tra_cuu" name="Th_Tra_cuu" value="@Chuoi_Tra_cuu" class="form-control" placeholder="Tìm tên phim..." />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.Raw(Chuoi_HTML_Nguoi_dung_Dang_nhap)
        </div>
        <div class="row DANH_SACH_CHUC_NANG">
            <div class="container">
                <table class="table-responsive">
                    <thead>
                        <tr id="Th_Danh_sach_Chuc_nang">
                            <td id="MH_Danh_sach_Phim_dang_chieu" class="CHUC_NANG">
                                PHIM ĐANG CHIẾU
                            </td>
                            <td id="MH_Ban_ve" class="CHUC_NANG">
                                BÁN VÉ
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row">
            <iframe class="KHUNG_CHUC_NANG" id='Khung_Chuc_nang'></iframe>
        </div>
    </div>
    
    <script>
        MH_Danh_sach_Phim_dang_chieu.onclick = () => {
            Khung_Chuc_nang.src = "MH_Danh_sach_Phim_dang_chieu.cshtml";
            Danh_dau_Chon_Chuc_nang(MH_Danh_sach_Phim_dang_chieu);
        }
        MH_Ban_ve.onclick = () => {

            Danh_dau_Chon_Chuc_nang(MH_Ban_ve);
        }
        function Chon_Chuc_nang(Chuc_nang_Chon) {
            for (var i = 0; i < Th_Danh_sach_Chuc_nang.childNodes.length; i++) {
                if (Th_Danh_sach_Chuc_nang.childNodes[i].id == Chuc_nang_Chon) {
                    Th_Danh_sach_Chuc_nang.childNodes[i].click();
                    return;
                }
            }
        }

        function Danh_dau_Chon_Chuc_nang(Th_Chuc_nang_Chon) {
            for (var i = 0; i < Th_Danh_sach_Chuc_nang.childNodes.length; i++)
                Th_Danh_sach_Chuc_nang.childNodes[i].className = "CHUC_NANG";
            Th_Chuc_nang_Chon.className += " CHON";
        }
    </script>
    @if (Session["Chuc_nang_Chon"] == null)
    {
        <script>MH_Danh_sach_Phim_dang_chieu.click();</script>
    }
    else
    {
        <script>Chon_Chuc_nang('@Session["Chuc_nang_Chon"]');</script>
    }
</body>
</html>
